<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}My To-Do List{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">My To-Do List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">View Tasks</a>
        </li>
<!--  Show profile and logout only when logged in  -->
        {% if current_user.is_authenticated %}
        <li>
          <a class="nav-link" href="/profile">View Profile</a>
        </li>
        <li>
          <a class="nav-link" href="/logout">Logout</a>
        </li>
<!--        Show login and register only when not logged in-->
        {% else %}
        <li>
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li>
          <a class="nav-link" href="/register">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-info">
        <ul class=mb-0>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}
  {% block content %}
  {% endblock %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
